*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title{
  font-family:'Courier New', Courier, monospace;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}

body{
  background: linear-gradient(
    90deg,
    rgb(0, 112, 197) 0%,
    rgb(163, 172, 255) 100%
  );
}

nav{
  margin: auto;
  font-size: 30px;
  color: white;
  padding-bottom: 10px;
}

.nav-link{
  color: #fff;
  font-size: 25px;
  text-decoration: none;
}

.App {
  width: 500px;
  height: auto;
  background: #2b3151;
  text-align: center;
  margin: 80px auto;
  border-radius: 10px;
  padding: 10px 0 32px 0;
  box-shadow: 5px 10px 10px #888888
}

.tasks{
  font-size: 20px;
  color: #fff;
}

.Task {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
  font-size: 20px;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.Task .task-name{
  margin-left: auto;
  margin-right: auto;
}

.Task:nth-child(4n + 1){
  background: linear-gradient(
    90deg,
    rgb(101, 24, 255) 0%,
    rgb(138, 0, 223) 100%
  );
}

.Task:nth-child(4n + 2){
  background: linear-gradient(
    90deg,
    rgb(255, 2, 2) 0%,
    rgb(255, 91, 91) 100%
  );
}
.Task:nth-child(4n + 3){
  background: linear-gradient(
    90deg,
    rgb(0, 76, 255) 0%,
    rgb(44, 135, 255) 100%
  );
}

.icons{
  font-size: 24px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.icons :hover{
  font-size: 26px;
}

.buttons{
  padding: 2px;
  justify-content: space-between;
}

.button-submit{
  padding: 10px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(1, 185, 217) 0%,
    rgb(132, 138, 255) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.button-save{
  width: 60px;
  margin: 5px 5px 0 0;
  padding: 10px;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(1, 185, 217) 0%,
    rgb(132, 138, 255) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.button-cancel{
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(1, 185, 217) 0%,
    rgb(132, 138, 255) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.add-input{
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
  justify-content: right;
}

@media screen and (max-width: 321px){
  .App{
    width:90%;
  }
  body{
    background: linear-gradient(
      90deg,
      rgb(0, 112, 197) 0%,
      rgb(163, 172, 255) 100%
    );
  }
 
  .add-input{
    width: 200px;
  }
  .Task {
    padding: 16px;
    border-radius: 5px;
    width: 90%;
    font-size: 16px;
  }
  
  .icons{
    font-size: 23px;

  }
  .nav-link{
    font-size: 15px;
  }

  nav{
    padding-top:5px;
    font-size: 20px;
  } 
}
 @media screen and (min-width: 375px) and (max-width: 426px){
  .App{
    width:95%;
  }
  
  body{
    background: linear-gradient(
      90deg,
      rgb(0, 112, 197) 0%,
      rgb(163, 172, 255) 100%
    );
  }

  .add-input{
    width: 200px;
  }
  .Task {
    padding: 16px;
    border-radius: 5px;
    width: 98%;
    font-size: 18px;
  }
  
  .icons{
    font-size: 25px;
  }
  .nav-link{
    font-size: 23px;
  }

  nav{
    padding-top:5px;
    font-size: 20px;
  } 
 }